.footer {
	.footer-top {
		background-color: #191b1f;

		.post-item{
			background: transparent;
		}
		
		.widget {
			background-color: transparent;
			h2{
				color: $white;
				margin-top: 0;
			}
			.footer-logo {
				display: block;
				margin-bottom: 20px;
			}
			p {
				color: $dark-desc-color;
			}
			.siteinfo {
				margin: 0;
				padding: 0;
				overflow: hidden;
				li {
					overflow: hidden;
					padding: 3px 0;
					border-bottom: none;
					.icon {
						width: 40px;
						height: 40px;
						text-align: center;
						line-height: 40px;
						color: $white;
						float: left;
						margin-right: 10px;
						background-color: #009bff;
					}
					.desc {
						color: $dark-desc-color;
						line-height: 35px;
					}
				}
			}
			
			.small-post-item {
				border-bottom: none;
				padding: 5px 0;
				&:first-child {
					padding-top: 0;
				}
				.post-content {
					.title {
						a {
							color: $dark-desc-color;
						}
					}
					.meta-post {
						li {
							span,a{
								color: #767676;
							}
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		p {
			margin: 0;
			text-align: center;
			padding: 40px 0;
			background-color: #121316;
			color: $dark-desc-color;
			line-height: 25px;
			.logo {
				color: #009bff;
			}
			a {
				color: $white;
			}
		}
	}
	&.style2 {
		.footer-content {
			text-align: center;
			.footer-logo {
				margin-bottom: 10px;
				display: block;
			}
			p {
				color: $white;
				max-width: 830px;
				display: block;
				margin: auto;
				line-height: 30px;
				margin-bottom: 20px;
			}
			.social-media-list {
				display: inline-block;
			}
		}
	}
}


.flicker-image {
	overflow: hidden;
	a {
		width: 30%;
		float: left;
		margin: 2px;
	}
}


.categories-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
		overflow: hidden;
		border: none !important;
		padding: 4px 0 !important;
		&:first-child {
			padding-top: 0;
		}
		a {
			color: $dark-desc-color;
		}
	}
}

.footer{
	.footer-top{
		&.style3{
			position: relative;
			background-image: url(../../assets/images/footer-bg.jpg);
			background-position: bottom; 
			background-repeat-Y: no-repeat;
			.ovarlay{
				background-color: rgba(255,255,255,0.5);
			}
			.post-item {
			    background-color: transparent;
			}
			.widget{
				h2{
					color: $base-color;
				}
				.siteinfo{
					li{
						.desc{
							color: $heading-color;
						}
					}
				}
			}
			.categories-list {
				li{
					a{
						color: $heading-color;
					}
				}
			}
			.small-post-item{
				.post-content {
					.title {
						a {
							color: $heading-color;
						}
					}
				}
			}
		}
	}
}