// feature posts
.feature-post-section {
	background-color: $white;
	padding: 20px;
	overflow: hidden;
	margin-bottom: 20px;
	&.style2 {
		padding: 0;
		background-color: transparent;
		.feature-post-item {
			.feature-post-content {
				.title {
					margin-top: 0;
					margin-bottom: 4px;
				}
			}
		}
	}
	&.style3 {
		.feature-post-content {
			h4.title {
				margin-bottom: 0;
			}
		}
	}
}
.feature-post-item {
	overflow: hidden;
	padding:1px;
	&:hover .feature-post-thumb {
		img {
			transform: scale(1.1) rotate(-2deg);
		}
	}
	width: 100%;
	.feature-post-thumb {
		position: relative;
		overflow: hidden;
		img {
			@include transition($transition);
			width: 100%;
		}
		.feature-post-content {
			position: absolute;
			left: 0;
			bottom: 10px;
			width: 100%;
			padding: 20px;
			.title {
				color: $white;
			}
			.meta-post {
				margin: 0;
				list-style-type: none;
				overflow: hidden;
				li {
					color: $white;
					float: left;
					span,a {
						color: $white;
					}
				}
			}
		}
	}
}
.meta-post {
	margin-bottom: 10px;
	margin-left: 0;
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	li {
		color: $desc-color;
		float: left;
		margin-right: 10px;
		span,a {
			color: $desc-color;
		}
		.rating {
			i {
				color: $base-color;
			}
		}
	}
}

.post-item {
	background-color: $white;
	&:hover {
		.post-thumb {
			img {
				transform: scale(1.1) rotate(-2deg);
			}
		}
	}
	.post-thumb {
		position: relative;
		overflow: hidden;
		img {
			@include transition($transition);
		}
		>a>img {
			width: 100%;
		}
		.post-content {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: auto;
			padding: 30px;
			z-index: 1;
		}
		.video-link {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			color: $white;
			background-color: $base-color;
		}
	}
	.post-content {
		.title {
			margin-bottom: 5px;
		}
		.meta-post {
			margin-bottom: 10px;
		}
	}
}

.post-item.small-post-item {
	overflow: hidden;
	padding: 10px 0;
	border-bottom: 1px solid $gray-bg-color;
	&:last-child {
		border-bottom: none;
	}
	
	.post-thumb {
		width: 80px;
		height: 80px;
		float: left;
		margin-right: 15px;
		overflow: hidden;
	}
	.post-content {
		display: table;
		.title {
			margin-bottom: 3px;
			margin-top: 0;
		}
		.meta-post {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}
	&.small-thumb-style2 {
		.post-thumb {
			width: 100px;
		}
	}
}
.small-post-list {
	.post-item {
		&:first-child {
		padding-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.post-item.horizontal-style {
	border: 1px solid $gray-bg-color;
	overflow: hidden;
	margin: 10px 0;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.post-thumb {
		width: 240px;
		height: 200px;
		float: left;
		margin-right: 20px;
	}
	.post-content {
		display: table;
		padding-right: 5px;
		p {
			margin-bottom: 0;
		}
	}
}

.heading {
	border-top: 3px solid $base-color;
	border-right: 3px solid $base-color;
	position: relative;
	overflow: hidden;
	padding: 10px 18px;
	border-bottom: 1px solid $gray-bg-color;
	background-color: $white;
	&:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 7px 7px;
		border-color: $base-color transparent;
		display: block;
		width: 0;
		z-index: 1;
		top: 50%;
		right: -4px;
		transform: rotate(-90deg);
		margin-top: -4px;
	}
	h3 {
		float: left;
		margin: 0;
	}
	.see-all {
		float: right;
		margin-left: 10px;
		padding-top: 2px;
	}
	.news-cat-filter {
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
		li {
			float: left;
			a {
				padding: 2px 5px;
				display: block;
			}
		}
	}
}




.weather {
	img {
		margin-right: 10px;
	}
	span {
		color: $highlight-desc-color;
	}
}



// search form 
.search-form {
	position: relative;
	input {
		width: 100%;
		padding: 12px 12px 12px 12px;
		border: 1px solid $gray-bg-color;
	}
	i {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 44px;
		text-align: center;
		line-height: 44px;
		color: $white;
		z-index: 1;
		background-color: $base-color;
	}
}


// subscription
.subscription {
	span {
		float: left;
		margin-right: 7px;
		color: $base-color;
		font-size: 48px;
		line-height: 1.1;
	}
	.subscription-content {
		display: table;
		a {
			display: block;
			color: $heading-color;
		}
	}
}

.accounts {
	overflow: hidden;
	.bell {
		float: left;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background-color: #ff141f;
		color: #fff;
		line-height: 1.8;
		text-align: center;
		display: block;
		margin-right: 10px;
		transform: translateY(5px);
		font-size: 14px;
		&:hover {
			color: $white;
		}
	}
	.account-img {
		float: left;
		width: 35px;
		height: 35px;
		border-radius: 100%;
		background-color: #ccc;
		display: block;
	}
}

.author-subscription {
	overflow: hidden;
	.subscription {
		float: left;
		margin-right: 25px;
	}
	.accounts {
		float: left;
		margin-top: 10px;
	}
}



// newsticker 
.news-ticker {
	overflow: hidden;
	.news-date-update {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			float: left;
			margin-right: 10px;
			margin-top: 18px;
			&:last-child {
				margin-right: 0;
			}
			i {
				color: $base-color;
				margin-right: 2px;
			}
			span {
				color: heading-color;
			}
		}
	}
}
.breking-news-ticker {
	overflow: hidden;
	padding: 10px 0;
	width: 75%;
	float: left;
	.info {
		float: left;
		padding: 5px 10px;
		background-color: $base-color;
		color: $white;
		margin-right: 10px;
		font-family: $font-family-muli;
	}
	.newsticker {
		height: 30px;
		list-style-type: none;
		overflow: hidden;
		margin:0;
		li {
			line-height: 2.5;
		}
	}
}

#content {
	background-color: $gray-bg-color;
}

//  newsbox css 
.news-box {
	background-color: $white;
	.news-box-wrapper {
		padding: 18px;
	}
	margin-bottom: 15px;
	&.default {
		background-color: transparent;
		.news-box-wrapper {
			padding: 0;
			.post-item {
				background-color: $white;
				margin-bottom: 15px;
				.post-content {
					padding: 0 15px 10px 15px;
					p {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}


.political {
	.col-md-6 {
		&:last-child {
			.post-item {
				border-bottom: none;
			}
		}
		&:nth-last-of-type(2) {
			.post-item {
				border-bottom: none;
			}
		}
	}
}



// guest author
.guest-author {
	.news-box-wrapper {
		padding: 0px;
		padding-top: 10px;
	}
}
.author-item {
	padding: 10px;
	border-bottom: 1px solid $gray-bg-color;
	&:last-child {
		border-bottom: none;
	}
	&:first-child {
		padding-top: 0px;
	}
	.author-thumb {
		width: 60px;
		height: 60px;
		border-radius: 100%;
		float: left;
		overflow: hidden;
		margin-right: 8px;
	}
	.author-content {
		display: table;
		.name {
			font-size: 19px;
			margin-top: 0;
			margin-bottom: 4px;
			a {
				color: inherit;
			}
		}
		.desig {
			color: $desc-color;
			margin-bottom: 0;
			font-size: 12px;
		}
		.view-all-post {
			color: $desc-color;
			font-size: 12px;
		}
	}
}

.x2 {
	.author-thumb {
		width: 80px !important;
		height: 80px !important;
	}
}


// donot miss
.dont-miss {
	.post-item {
		padding: 20px 0;
		border-bottom: 1px solid $gray-bg-color;
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
		&:first-child {
			padding-top: 0px;
		}
	}
	.post-content {
		.title {
			font-size: 16px;
			margin-top: 10px;
		}
		.meta-post {
			margin-bottom: 0;
			li {
				font-size: 13px;
				a {
					font-size: inherit;
				}
			}
		}
	}
}

.padding-height-160 {
	height: 160px;
}

.padding-height-80 {
	height: 80px;
}

.social-media-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		margin: 5px 7px;
		a {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			line-height: 50px;
			color: $white;
			display: block;
			text-align: center;
			font-size: 17px;
			&:hover {
				color: $white;
			}
			&.facebook {
				background-color: $facebook;
			}
			&.twitter {
				background-color: $twitter;
			}
			&.gplus {
				background-color: $g-plus;
			}
			&.dribbble {
				background-color: $dribbble;
			}
			&.rss {
				background-color: $rss;
			}
			&.pinterest {
				background-color: $pinterest;
			}
		}
	}
}


.widget.instagram{
	li{
		padding: 0;
		float: left;
		border-bottom: none;
		width: 33.33%;
		&:first-child{
			width: 100%;
		}
		a{
			padding: 5px;
			display: block;
		}
	}
	.widget-wrapper{
		padding: 15px;
	}
}
.ovarlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.custom-btn{
	padding: 7px 19px;
	text-transform: uppercase;
	border: 1px solid #ebebeb;
	display: inline-block;
	margin-top: 20px;
	font-weight: 700;
	font-family: $font-family-cg;
}

.gradient-ovarlay{
	position: relative;
	>a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.75;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, #000000 100%);
    transition: opacity 0.35s ease-in-out;
	}
}

button.mobile-toggle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 3%;
    width: 33px;
    border: none;
    height: auto;
    background-color: transparent;
    outline: none;
    .bar-stick{
		  height: 3px;
	    width: 100%;
	    background: $heading-color;
	    display: block;
	    margin: 2px 0;
	}
}
.mobile-menu-area{
	  position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #180e0e;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: $transition;
       -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
    .mobile-menu {
	    position: absolute;
	    width: 100%;
	    top: 50px;
	    text-align: center;
	    opacity: 0;
	    list-style: none;
	    -webkit-transition: $transition;
	       -moz-transition: $transition;
	        -ms-transition: $transition;
	         -o-transition: $transition;
	            transition: $transition;
	    transform-origin: top;
	    overflow-y: auto;
	    max-height: 100vh;
	    list-style: none;
	    .mobile-submenu{
	    	display: none;
	    }
	}
}
.open-mobile-menu .mobile-menu-area{
	  visibility: visible;
    opacity: 1;
    width: 300px;
    border-top: 2px solid #fff;
    height: 600px;
    overflow-y: auto;
    background: #180e0e;
    display: inline-block;
		.close{
			width: 35px;
	    height: 35px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: 99;
	    opacity: 1;
	    margin: 25px 20px;
	    span{
	    	position: absolute;
		    left: 0;
		    width: 100%;
		    height: 3px;
		    background: #fff;
		    top: 50%;
		    margin-top: -1px;
		    &:first-child{
		    	transform: rotate(-45deg);
		    }
		    &:last-child{
		    	transform: rotate(45deg);
		    }
	    }
		}
		
			.mobile-menu{
				position: absolute;
		    width: 100%;
		    top: 50px;
		    left: 0;
		    margin: 0;
		    text-align: center;
		    opacity: 1;
		    -webkit-transition: $transition;
		       -moz-transition: $transition;
		        -ms-transition: $transition;
		         -o-transition: $transition;
		            transition: $transition;
		    transform-origin: top;
		    max-height: 100vh;
			>li{
				>a{
					font-size: 16px;
			    line-height: 38px;
			    color: #ffffff;
			    outline: none;
			    text-transform: uppercase;
			    padding: 10px 0px;
			    display: block;
			    border-bottom: 1px solid #212020;
				}
				.mobile-submenu{
					list-style: none;
					margin: 0;
					display: none;
					li{
						a{

						}
					}
				}
			}
		}
	
}

