.header {
	&.header1 {
		position: relative;
		.header-top-part{
			padding: 10px 0;
			border-bottom: 1px solid $gray-bg-color;
		}
		.header-top-container {
			position: relative;
			.weather {
				position: absolute;
				left: 0;
				top: 0;
				margin: 10px 0;
			}
			.author-subscription {
				position: absolute;
				right: 0;
				top: 0;
			}
			.search-form {
				max-width: 570px;
				width: 100%;
				margin: auto;
			}
		}
		
	}
	&.header2 {
		.ticker-swipe {
			background-color: $white;
		}
		.header-top-part{
			padding: 5px 0;
			border-bottom: 1px solid $gray-bg-color;
		}
		.header-middle-part-container {
			display: flex;
		}
		.header-bottom-part{
			background-color: $white;
		}
		.hmpc-item {
			width: 33.33%;
			margin: auto;
			.logo {
				float: none;
				display: block;
			}
			.post-content {
				.title {
					line-height: 0.9;
				}
			}
		}
		.header-menu-part {
			
		}
	}
	&.header3 {
		.header-top-part {
			background-color: $white;
			overflow: hidden;
			padding-left: 20px;
			border-bottom: 1px solid $gray-bg-color;
		}
		.menu-header {
			float: left;
			.logo {
				display:block;
				padding: 15px 20px 15px 0px;
			}
		}
		.main-menu {
			float: right;
		}
		.header-bottom-part {
			border-bottom: 1px solid $gray-bg-color;
		}
		.ticker-swipe {
			background-color: $white;
		}
	}
	&.header4 {
		.header-top-part {
			text-align: center;
			padding: 70px 0;
			background-image: url(../../assets/images/header-top-bg.png);
			.logo {
				display: inline-block;
			}
		}
		.header-bottom-part {
			background-color: $base-color5;
		}
		.main-menu {
			li {
				a {
					color: $white;
					&:hover {
						color: $white;
					}
				}
			}
		}
		.menu-site-btn {
			li {
				a {
					border-right: 1px solid #7dc1e8;
				}
			}
		}
	}
}

.header-middle-part {
	background-color: $white;
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid $gray-bg-color;
	&.style2{
		padding: 22px 0;
	}
	.logo {
		float: left;
		display: block;
		padding: 10px 0;
	}
	.add-place {
		float: right;
	}
}

.header-bottom-part {
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
}

.menu-site-btn {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		float: left;
		a {
			width: 60px;
			display: block;
			border-right: 1px solid $gray-bg-color;
			padding: 24px 0 26px 0px;
			text-align: center;
		}
		:first-child {
			a {
				border-left: 1px solid $gray-bg-color;
			}
		}
	}
}


.header-post-area {
	.post-content {
		.title {
			margin: 0;
		}
	}
}