.base-color2 {
	.ticker-title {
		background-color: $base-color2;
	}
	a:hover,a:focus,a:active,.news-ticker .news-date-update li i,
	.main-menu li a:hover,
	.meta-post li .rating i,
	.header-post-area .post-content .cat
	 {
		color: $base-color2;
	}
	.heading {
		border-top: 3px solid $base-color2;
		border-right: 3px solid $base-color2;
	}
	.heading:after {
		    border-color: $base-color2 transparent;
	}
}

.base-color3 {
	.ticker-title,.search-form i,.accounts .bell {
		background-color: $base-color3;
	}
	a:hover,a:focus,a:active,.news-ticker .news-date-update li i,.main-menu li a:hover,.meta-post li .rating i,
	.subscription span,
	.header-post-area .post-content .cat
	 {
		color: $base-color3;
	}
	.heading {
		border-top: 3px solid $base-color3;
		border-right: 3px solid $base-color3;
	}
	.heading:after {
		    border-color: $base-color3 transparent;
	}
}

.base-color4 {
	.ticker-title,.search-form i,.accounts .bell {
		background-color: $base-color4;
	}
	a:hover,a:focus,a:active,.news-ticker .news-date-update li i,.main-menu li a:hover,.meta-post li .rating i,
	.subscription span,
	.header-post-area .post-content .cat
	 {
		color: $base-color4;
	}
	.heading {
		border-top: 3px solid $base-color4;
		border-right: 3px solid $base-color4;
		border-left: 1px solid $gray-bg-color;
	}

	.heading:after {
		    border-color: $base-color4 transparent;
	}
	.widget-wrapper,
	.news-box .news-box-wrapper {
	    border-left: 1px solid $gray-bg-color;
	    border-right: 1px solid $gray-bg-color;
	    border-bottom: 1px solid $gray-bg-color;
	}
}


.base-color5 {
	.ticker-title,.search-form i,.accounts .bell {
		background-color: $base-color5;
	}
	a:hover,a:focus,a:active,.news-ticker .news-date-update li i,.main-menu li a:hover,.meta-post li .rating i,
	.subscription span,
	.header-post-area .post-content .cat
	 {
		color: $base-color5;
	}
	.heading {
		border-top: 3px solid $base-color5;
		border-right: 3px solid $base-color5;
		border-left: 1px solid $gray-bg-color;
	}

	.heading:after {
		    border-color: $base-color5 transparent;
	}
	.widget-wrapper,
	.news-box .news-box-wrapper {
	    border-left: 1px solid $gray-bg-color;
	    border-right: 1px solid $gray-bg-color;
	    border-bottom: 1px solid $gray-bg-color;
	}
}

body.base-color4 {
	background-color: $gray-bg-color;
}
.box-layout {
	max-width: 1230px;
	width: 100%;
	margin: auto;
	background-color: #fff;
	#content {
		background-color: #fff;
	}
}

.feature-slider{
	.swiper-slide{
		.feature-post-item{
			.feature-post-thumb{
				.feature-post-content{
					width: auto;
				}
			}
		}
	}
}



.feature-post-section.style5{
	padding: 0;
}

.recent-video-widget{
	> .inside {
	    position: relative;
	    min-height: 275px;
	    > .tab-content{
	    	 > .item{
	    	 	 > .video-player {
				    position: relative;
				}
	    	}
	    }
	}
}
.video-player iframe {
    width: 100%;
}

embed, iframe, object {
    max-width: 100%;
}

.recent-video-widget > .inside > .navigation {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0;
    margin: 0;
    width: 260px;
    height: 100%;
    background-color: #e5e5e5;
    overflow-y: scroll;
}

.recent-video-widget > .inside > .navigation > li {
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
}


.recent-video-widget > .inside > .navigation > li.active > a {
    background-color: #262626;
}
.recent-video-widget > .inside > .navigation > li > a {
    display: block;
    padding: 10px 20px;
    position: relative;
}
.recent-video-widget > .inside > .navigation > li.active > a > i {
    opacity: 1;
    color: #858484;
}

.recent-video-widget > .inside > .navigation > li > a > i {
    position: absolute;
    display: block;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    font-size: 1.5em;
    transition: all 0.15s ease-in-out;
}

.recent-video-widget > .inside > .navigation > li.active > a > .title {
    color: #fff;
}

.recent-video-widget > .inside > .navigation > li > a > .title {
    font-size: 1.142em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    transition: $transition;
}
.recent-video-widget > .inside > .navigation > li > a > .meta {
    margin-bottom: 0;
    transition: $transition;
}

.meta {
    display: block;
    color: #858484;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
}
.menu-fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 999;
}
.header5{
	.header-top-part{
		background-image: url(../../assets/images/homepage8/menuBG.jpg);
		background-repeat: no-repeat;
		background-position: center;
		padding: 26px 0;

		.header-text{
			max-width: 532px;
			span{
				font-family: $font-family-cg;
				font-weight: 700;
				font-size: 48px;
				color: $base-color8;
			}
		}
	}
}
.header.header5{
	.header-bottom-part{
		position: relative;
		padding: 20px 0;
		background-color: $white;
		.logo{
		    position: absolute;
		    left: 0;
		    top: 0;
		    margin-left: 75px;
				padding: 20px;
		}
		.social-media-list{
			border-left: 1px solid $gray-bg-color;
			border-right: 1px solid $gray-bg-color;
			position: absolute;
			right: 0;
			top: 0;
			margin-right : 75px;
			padding: 29px 10px; 
		}
		.search-form {
			@include breakpoint(laptop-mini) {
		    margin: 0 25px 0 0;
		    float: right;
			}
		    max-width: 43.33%;
		    width: 100%;
		    margin: auto;
		    i {
			    position: absolute;
			    right: 0;
			    top: 0;
			    text-align: center;
			    line-height: 44px;
			    color: #fff;
			    z-index: 1;
			    background-color: #ff141f;
			}
		}
		.do-mail{
			@include breakpoint(laptop-mini) {
		    display: none;
			}
			position: absolute;
			top: 50%;
			right: 0;
			color: $gray-bg-color;
			font-size: 22px;
			color: #272727;
			-webkit-transform: translate(-130%,-50%);
			   -moz-transform: translate(-130%,-50%);
			    -ms-transform: translate(-130%,-50%);
			     -o-transform: translate(-130%,-50%);
			        transform: translate(-130%,-50%);
			
		}
	} 
}
.social-media-list{

	&.style2{
		@include breakpoint(laptop-mini) {
	    display: none;
		}
		li{
			margin: 0px 9px;
			a{
				height: auto;
				width: auto;
				border-radius: 0;
				line-height: 0;
				color: #272727;
				background-color: #ffffff !important;
				-webkit-transition: $transition;
				   -moz-transition: $transition;
				    -ms-transition: $transition;
				     -o-transition: $transition;
				        transition: $transition;
				&:hover{
					color: $g-plus;
				}
			}
		}
	}
}
.header.header1 {
	.header-middle-part{
		.logo {
		    float: left;
		    display: block;
		}
		.menu-area{
			float: right;
			.main-menu{
				li{
					text-align: center;
					a{
						padding: 18px 20px;
					}
					.menu-img{
						overflow: hidden;
						width: 32px;
						margin: auto;
						padding-bottom: 10px; 
					}
				}
				span{
					display: block;
				}
			}
		}
		&.style2{
			.menu-area{
				.main-menu{
					li{
						a{
							padding: 10px 20px;
						}
					}
				}
			}
		}
	}
	.header-bottom-part {
	    padding: 0;
	    background-color: $white;
	    .ticker-swipe{
	    	background-color: $white;
	    }
	}
}
.feature-post-section{
	&.style4{
		padding: 0;		
	}
	&.style5{
		padding: 0;
		background: none;
		.feature-post-content{
			background-color: $white;
			max-width: 490px;
			.meta-post{
				li{
					a{
						color: $desc-color;
					}
				}
			}
			p{
				margin: 20px 0 0 0;
			}
		}
		.feature-post-item .feature-post-thumb .feature-post-content{
			padding: 25px;
			bottom: 0;
			 .title {
			    color: $heading-color;
			    margin: 0 0 10px 0;
			}
		}
		.feature-post-item .feature-post-thumb .feature-post-content .meta-post li span, .feature-post-item .feature-post-thumb .feature-post-content .meta-post li a {
		    color: $desc-color;
		}	
	}

	&.style7{
		.feature-post-content{
			max-width: 500px;
	    -webkit-transform: translate(5%,-25%);
	       -moz-transform: translate(5%,-25%);
	        -ms-transform: translate(5%,-25%);
	         -o-transform: translate(5%,-25%);
	            transform: translate(5%,-25%);

			.title{
				font-size: 36px;
			}
			p{
				color: $white;
				margin-top: 25px;
				max-width: 400px;
			}
		}
	}
	&.style8{
		background-color: transparent;
    padding: 0px;
		.feature-post-item .feature-post-thumb .feature-post-content {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    padding: 20px;
	    z-index: 1;
		}
	}
}
.score-board{
	font-family: $font-family-muli;
	text-align: center;
	span{
		display: inline-block;
		vertical-align: top;
		float: left;
		&.team{
			width: 33.33%;
		}
		&.team-name{
			line-height: 38px;
			font-weight: 700;
			width: 35px;
		}
		&.score-update{
			width: 33.33%;
			.score-update-inner{
				background-color: $base-color7;
				color: $white;
				height: 25px;
				width: 50px;
				margin: 8px 0 0 17px;
			}
		}
		&.team-img{
			overflow: hidden;
			height: 40px;
			width: 40px;
			border: 1px solid $gray-bg-color;
			&.team-img-left{
				margin-left: 10px;
			}
			&.team-img-right{
				margin-right: 10px;
			}
		}
	}
}
.top-categories{
	font-family: $font-family-muli;
	span{
		display: inline-block;
	}
	a{
		display: block;
		overflow: hidden;
		color: $heading-color;
		&:hover{
			color: inherit;
		}
	}
	.category-type{
		float: left;
		.category-title{
			vertical-align: top;
			line-height: 2;
		}
		.category-img{
			overflow: hidden;
	    width: 32px;
	    margin-right: 10px;
		}
	}
	.category-count{
		float: right;
	}
}

.widget.style2 > ul > li {
    padding: 15px 17px;
    border-bottom: none;
    overflow: hidden;
}
.author-info{
	text-align: center;
	background-color: $white;
	padding: 35px 30px;
	h2{
		color: $base-color;
	}
	.social-media-list{
		margin-top: 30px;
	}
}
.client-logo{
	text-align: center;
	margin-top: 20px;
	padding: 21px 15px;
  background-color: $white;

	.client-container{
		margin: 0 auto;
	  position: relative;
	  overflow: hidden;
	  list-style: none;
	  padding: 0;
	  z-index: 1;
	}
} 
.news-box{
	&.travel{
		.news-box-wrapper {
	    padding: 25px 0;
		}
		.post-item{
			&.horizontal-style{
				border: none;
				border-bottom: 1px solid #eeeff1;
				margin: 0;
				padding: 30px;
				&:first-child{
					padding-top: 0px;
				} 
				&:last-child{
					padding-bottom: 0px;
					border-bottom: none;
				} 
				.post-thumb {
			    width: auto;
			    height: auto;
			    float: left;
			    margin-right: 20px;
				} 
			}
		}
	}
}
