.main-menu {
	list-style: none;
	padding:0;
	margin: 0;
	li {
		float: left;
		&:first-child {
			a {
				padding-left: 0;
			}
		}
		a {
			color: $heading-color;
			font-weight: 600;
			font-family: $font-family-muli;
			padding: 25px 20px;
			display: block;
			&:hover {
				color: $base-color;
			}
		}
	}
}