html {
    font-family: $font-family-muli;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
 
body {
    font-family: $font-family-muli;
    font-size: $fs-base;
    margin: 0;
    color: $desc-color;
}


// Typography
h1 {
     font-size: $fs-h1;
}
h2 {
    font-size: $fs-h2;
}
h3 {
    font-size: $fs-h3;
}
h4 {
    font-size: $fs-h4;
}
h5 {
    font-size: $fs-h5;
    margin: 5px 0;
}
h6 {
    font-size: $fs-h6;
    margin: 5px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    font-weight: 700;
    font-family: $font-family-cg;
}
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
    color: inherit;
    font-weight: 700;
}
p {
    font-size: $fs-base;
    margin: 0 0 1.75em;
    color: $desc-color;
    line-height: 1.5;
}
a {
    color: $desc-color;
}
a,a:hover,a:focus,a:active {
    text-decoration: none;
}
a:hover,a:focus,a:active {
    color: $base-color;
}

img {
    max-width: 100%;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}


abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
select,
textarea {
    max-width: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
    opacity: .5;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0.4375em;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 1.75em;
    min-width: inherit;
    padding: 0.875em;
}

fieldset > :last-child {
    margin-bottom: 0;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

optgroup {
    font-weight: bold;
}

/**
 * 2.0 - Typography
 */

body,
button,
input,
select,
textarea {
    color: #1a1a1a;
    font-family: Muli, Georgia, serif;
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}


dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    border: 0 solid #1a1a1a;
    border-left-width: 4px;
    color: #686868;
    font-size: 19px;
    font-size: 1.1875rem;
    font-style: italic;
    line-height: 1.4736842105;
    margin: 0 0 1.4736842105em;
    padding: 0 0 0 1.263157895em;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote p {
    margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
    color: #1a1a1a;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
    content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}

blockquote > :last-child {
    margin-bottom: 0;
}

address {
    font-style: italic;
    margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: Inconsolata, monospace;
}

pre {
    border: 1px solid #d1d1d1;
    font-size: 14px;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    padding: 1.75em;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    background-color: #d1d1d1;
    padding: 0.125em 0.25em;
}

abbr,
acronym {
    border-bottom: 1px dotted #d1d1d1;
    cursor: help;
}

mark,
ins {
    color: #fff;
    padding: 0.125em 0.25em;
    text-decoration: none;
}

big {
    font-size: 125%;
}


/**
 * 3.0 - Elements
 */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
hr {
    background-color: #d1d1d1;
    border: 0;
    height: 1px;
    margin: 0 0 1.75em;
}

ul,
ol {
    margin: 0 0 1.75em 1.25em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
    margin-left: 1.5em;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dl {
    margin: 0 0 1.75em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1.75em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

del {
    opacity: 0.8;
}

table,
th,
td {
    border: 1px solid #d1d1d1;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 0.4375em;
}

 
/**
 * 4.0 - Forms
 */
 
input {
    line-height: normal;
}
 
/*button,
button[disabled]:hover,
button[disabled]:focus,*/
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
    font-size: 1em;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}
/* 
button:hover,
button:focus,*/
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #00b2b7;
}
 
/*button:focus,*/
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted;
    outline-offset: -4px;
}
 
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    padding: 0.625em 0.4375em;
    width: 100%;
}
 


::-webkit-input-placeholder { 
  // color: #b0b0b0;
}
::-moz-placeholder { 
  // color: #b0b0b0;
}
:-ms-input-placeholder { 
  // color: #b0b0b0;
}
:-moz-placeholder { 
  // color: #b0b0b0;
}
 
.post-password-form {
    margin-bottom: 1.75em;
}
 
.post-password-form label {
    color: #686868;
    display: block;
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    font-size: 0.8125rem;
    letter-spacing: 0.076923077em;
    line-height: 1.6153846154;
    margin-bottom: 1.75em;
    text-transform: uppercase;
}
 
.post-password-form input[type="password"] {
    margin-top: 0.4375em;
}
 
.post-password-form > :last-child {
    margin-bottom: 0;
}
 
/**
 * 5.0 - Alignments
 */
 
.alignleft {
    float: left;
}
 
.alignright {
    float: right;
}
 
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}
 
blockquote.alignleft {
    margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}
 
blockquote.alignright {
    margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}
 
blockquote.aligncenter {
    margin-bottom: 1.473684211em;
}
 
 
/**
 * 6.0 - Clearings
 */
 
.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after {
    content: "";
    display: table;
}
 
.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after {
    clear: both;
}
 
/**
 * 7 - Galleries
 */
 
.gallery {
    margin: 0 -1.1666667% 1.75em;
}
 
.gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
    float: left;
    @include breakpoint(tablet){
        max-width: 50%;
    }
    @include breakpoint(phablet){
        max-width: 100%;
    }
}
 
.gallery-columns-1 .gallery-item {
    max-width: 100%;
}
 
.gallery-columns-2 .gallery-item {
    max-width: 50%;
    @include breakpoint(phablet){
        max-width: 100%;
    }
}
 
.gallery-columns-4 .gallery-item {
    max-width: 25%;
    @include breakpoint(laptop-mini){
        max-width: 33.33%;
    }
    @include breakpoint(tablet){
        max-width: 50%;
    }
    @include breakpoint(phablet){
        max-width: 100%;
    }
}
 
.gallery-columns-5 .gallery-item {
    max-width: 20%;
    @include breakpoint(laptop-mini){
        max-width: 25%;
    }
    @include breakpoint(tablet){
        max-width: 50%;
    }
    @include breakpoint(phablet){
        max-width: 100%;
    }
}
 
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
    @include breakpoint(laptop-mini){
        max-width: 25%;
    }
    @include breakpoint(tablet){
        max-width: 50%;
    }
    @include breakpoint(phablet){
        max-width: 100%;
    }
}
 
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
 
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
 
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
 
.gallery-icon img {
    margin: 0 auto;
}
 
.gallery-caption {
    color: #686868;
    display: block;
    font-size: 0.8125rem;
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 0.5384615385em;
}
 
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}
