

.widget {
	margin-bottom: 15px;
	overflow: hidden;
	background-color: $white;
	.widget-heading {
		padding: 10px 17px;
	}
	.widget-wrapper {
		padding-top: 15px;
	}
	>ul {
		overflow: hidden;
		margin: 0;
		list-style-type: none;
		>li {
			padding: 15px 17px;
			border-bottom: 1px solid $gray-bg-color;
			overflow: hidden;
			&:last-child {
				border-bottom: none;
			}
			&:first-child {
				padding-top: 0;
			}
		}
	}
	.social-share {
		margin: 0;
		list-style-type: none;
		padding-left: 17px;
		padding-right: 17px;
		li {
			width:25%;
			text-align: center;
			margin-bottom: 10px;
			float: left;
			padding: 0;
			border-bottom: none;
			.icon {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				line-height: 50px;
				display: block;
				margin: auto;
				color: $white;
				&.facebook {
					background-color: $facebook;
				}
				&.twitter {
					background-color: $twitter;
				}
				&.gplus {
					background-color: $g-plus;
				}
				&.dribbble {
					background-color: $dribbble;
				}
				&.rss {
					background-color: $rss;
				}
				&.pinterest {
					background-color: $pinterest;
				}
				&.behence {
					background-color: $behence;
				}
				&.instagram {
					background-color: $instagram;
				}
			}
			.number {
				color: $heading-color;
				font-weight: 700;
				display: block;
			}
			.desc {
				font-size: $fs-small;
				color: $desc-color;
				display: block;
			}
		}
		&.style2{
			li{
				.icon{
					border-radius: 0;
				}
			}
		}
	}
	.post-content {
		.title {
			margin-bottom: 5px;
			margin-top: 10px;
		}
		.meta-post {
			padding: 0;
			margin-bottom: 0;
		}
	}
	.small-post-item {
		padding: 10px 17px;
	}
}
