$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
// base colors
$base-color: #ff141f;
$base-color1: #ff141f;
$base-color2: #009bff;
$base-color3: #4bc5dc;
$base-color4: #9600b4;
$base-color5: #0991de;
$base-color6: #f74900;
$base-color7: #ff6600;
$base-color8: #fe3189;

// heading color
$heading-color: #000;

// description color p 
$desc-color: #696969;       
$dark-desc-color: #a9a9ab;
$highlight-desc-color: #333;

$white: #fff;

//  social icon color
$facebook: #3a559f;      
$twitter: #50abf1;      
$g-plus: #dc472e;      
$dribbble: #e74886;      
$rss: #f78422;      
$pinterest: #c9353d;      
$behence: #0090ff;      
$instagram: #517fa4; 


// background and border color
$gray-bg-color: #eeeff1;     






//== Typography
$font-family-muli:  'Muli', sans-serif;
$font-family-cg:  'Cormorant Garamond', sans-serif;
$fs-base:          14px !default;

$fs-large:         ceil(($fs-base * 1.071428)) !default; //15px
$fs-small:         ceil(($fs-base * 0.8571)) !default; //12px

$fs-h1:            ceil(($fs-base * 2.5714)) !default; //36px
$fs-h2:            ceil(($fs-base * 2.14285)) !default; //30px
$fs-h3:            ceil(($fs-base * 1.71428)) !default; //24px
$fs-h4:            ceil(($fs-base * 1.42857)) !default; //20px
$fs-h5:            ceil(($fs-base * 1.2857)) !default; //18px
$fs-h6:            ceil(($fs-base * 1.14286)) !default; //17px


//  transition
$transition: all 0.3s ease-in-out;
