html {
  font-family: "Muli", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #696969; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px;
  margin: 5px 0; }

h6 {
  font-size: 17px;
  margin: 5px 0; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 700;
  font-family: "Cormorant Garamond", sans-serif; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit;
  font-weight: 700; }

p {
  font-size: 14px;
  margin: 0 0 1.75em;
  color: #696969;
  line-height: 1.5; }

a {
  color: #696969; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

a:hover, a:focus, a:active {
  color: #ff141f; }

img {
  max-width: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
select,
textarea {
  max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0.875em; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

/**
 * 2.0 - Typography
 */
body,
button,
input,
select,
textarea {
  color: #1a1a1a;
  font-family: Muli, Georgia, serif;
  line-height: 1.75; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  border: 0 solid #1a1a1a;
  border-left-width: 4px;
  color: #686868;
  font-size: 19px;
  font-size: 1.1875rem;
  font-style: italic;
  line-height: 1.4736842105;
  margin: 0 0 1.4736842105em;
  padding: 0 0 0 1.263157895em; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote p {
  margin-bottom: 1.4736842105em; }

blockquote cite,
blockquote small {
  color: #1a1a1a;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75; }

blockquote cite:before,
blockquote small:before {
  content: "\2014\00a0"; }

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal; }

blockquote strong,
blockquote b {
  font-weight: 400; }

blockquote > :last-child {
  margin-bottom: 0; }

address {
  font-style: italic;
  margin: 0 0 1.75em; }

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace; }

pre {
  border: 1px solid #d1d1d1;
  font-size: 14px;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code {
  background-color: #d1d1d1;
  padding: 0.125em 0.25em; }

abbr,
acronym {
  border-bottom: 1px dotted #d1d1d1;
  cursor: help; }

mark,
ins {
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none; }

big {
  font-size: 125%; }

/**
 * 3.0 - Elements
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

hr {
  background-color: #d1d1d1;
  border: 0;
  height: 1px;
  margin: 0 0 1.75em; }

ul,
ol {
  margin: 0 0 1.75em 1.25em;
  padding: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal;
  margin-left: 1.5em; }

li > ul,
li > ol {
  margin-bottom: 0; }

dl {
  margin: 0 0 1.75em; }

dt {
  font-weight: 700; }

dd {
  margin: 0 0 1.75em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle; }

del {
  opacity: 0.8; }

table,
th,
td {
  border: 1px solid #d1d1d1; }

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

th {
  border-width: 0 1px 1px 0;
  font-weight: 700; }

td {
  border-width: 0 1px 1px 0; }

th,
td {
  padding: 0.4375em; }

/**
 * 4.0 - Forms
 */
input {
  line-height: normal; }

/*button,
button[disabled]:hover,
button[disabled]:focus,*/
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  font-size: 1em;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
  border: none; }

/* 
button:hover,
button:focus,*/
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #00b2b7; }

/*button:focus,*/
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: thin dotted;
  outline-offset: -4px; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  color: #686868;
  padding: 0.625em 0.4375em;
  width: 100%; }

.post-password-form {
  margin-bottom: 1.75em; }

.post-password-form label {
  color: #686868;
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  letter-spacing: 0.076923077em;
  line-height: 1.6153846154;
  margin-bottom: 1.75em;
  text-transform: uppercase; }

.post-password-form input[type="password"] {
  margin-top: 0.4375em; }

.post-password-form > :last-child {
  margin-bottom: 0; }

/**
 * 5.0 - Alignments
 */
.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em; }

blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0; }

blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em; }

blockquote.aligncenter {
  margin-bottom: 1.473684211em; }

/**
 * 6.0 - Clearings
 */
.clear:before,
.clear:after,
blockquote:before,
blockquote:after,
.entry-content:before,
.entry-content:after,
.entry-summary:before,
.entry-summary:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-main > article:before,
.site-main > article:after,
.primary-menu:before,
.primary-menu:after,
.social-links-menu:before,
.social-links-menu:after,
.textwidget:before,
.textwidget:after,
.content-bottom-widgets:before,
.content-bottom-widgets:after {
  content: "";
  display: table; }

.clear:after,
blockquote:after,
.entry-content:after,
.entry-summary:after,
.comment-content:after,
.site-content:after,
.site-main > article:after,
.primary-menu:after,
.social-links-menu:after,
.textwidget:after,
.content-bottom-widgets:after {
  clear: both; }

/**
 * 7 - Galleries
 */
.gallery {
  margin: 0 -1.1666667% 1.75em; }

.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  padding: 0 1.1400652% 2.2801304%;
  text-align: center;
  vertical-align: top;
  width: 100%;
  float: left; }
  @media (max-width: 990px) {
    .gallery-item {
      max-width: 50%; } }
  @media (max-width: 768px) {
    .gallery-item {
      max-width: 100%; } }

.gallery-columns-1 .gallery-item {
  max-width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }
  @media (max-width: 768px) {
    .gallery-columns-2 .gallery-item {
      max-width: 100%; } }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }
  @media (max-width: 1200px) {
    .gallery-columns-4 .gallery-item {
      max-width: 33.33%; } }
  @media (max-width: 990px) {
    .gallery-columns-4 .gallery-item {
      max-width: 50%; } }
  @media (max-width: 768px) {
    .gallery-columns-4 .gallery-item {
      max-width: 100%; } }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }
  @media (max-width: 1200px) {
    .gallery-columns-5 .gallery-item {
      max-width: 25%; } }
  @media (max-width: 990px) {
    .gallery-columns-5 .gallery-item {
      max-width: 50%; } }
  @media (max-width: 768px) {
    .gallery-columns-5 .gallery-item {
      max-width: 100%; } }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }
  @media (max-width: 1200px) {
    .gallery-columns-6 .gallery-item {
      max-width: 25%; } }
  @media (max-width: 990px) {
    .gallery-columns-6 .gallery-item {
      max-width: 50%; } }
  @media (max-width: 768px) {
    .gallery-columns-6 .gallery-item {
      max-width: 100%; } }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-icon img {
  margin: 0 auto; }

.gallery-caption {
  color: #686868;
  display: block;
  font-size: 0.8125rem;
  font-style: italic;
  line-height: 1.6153846154;
  padding-top: 0.5384615385em; }

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

.main-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  .main-menu li {
    float: left; }
    .main-menu li:first-child a {
      padding-left: 0; }
    .main-menu li a {
      color: #000;
      font-weight: 600;
      font-family: "Muli", sans-serif;
      padding: 25px 20px;
      display: block; }
      .main-menu li a:hover {
        color: #ff141f; }

.header.header1 {
  position: relative; }
  .header.header1 .header-top-part {
    padding: 10px 0;
    border-bottom: 1px solid #eeeff1; }
  .header.header1 .header-top-container {
    position: relative; }
    .header.header1 .header-top-container .weather {
      position: absolute;
      left: 0;
      top: 0;
      margin: 10px 0; }
    .header.header1 .header-top-container .author-subscription {
      position: absolute;
      right: 0;
      top: 0; }
    .header.header1 .header-top-container .search-form {
      max-width: 570px;
      width: 100%;
      margin: auto; }
.header.header2 .ticker-swipe {
  background-color: #fff; }
.header.header2 .header-top-part {
  padding: 5px 0;
  border-bottom: 1px solid #eeeff1; }
.header.header2 .header-middle-part-container {
  display: flex; }
.header.header2 .header-bottom-part {
  background-color: #fff; }
.header.header2 .hmpc-item {
  width: 33.33%;
  margin: auto; }
  .header.header2 .hmpc-item .logo {
    float: none;
    display: block; }
  .header.header2 .hmpc-item .post-content .title {
    line-height: 0.9; }
.header.header3 .header-top-part {
  background-color: #fff;
  overflow: hidden;
  padding-left: 20px;
  border-bottom: 1px solid #eeeff1; }
.header.header3 .menu-header {
  float: left; }
  .header.header3 .menu-header .logo {
    display: block;
    padding: 15px 20px 15px 0px; }
.header.header3 .main-menu {
  float: right; }
.header.header3 .header-bottom-part {
  border-bottom: 1px solid #eeeff1; }
.header.header3 .ticker-swipe {
  background-color: #fff; }
.header.header4 .header-top-part {
  text-align: center;
  padding: 70px 0;
  background-image: url(../../assets/images/header-top-bg.png); }
  .header.header4 .header-top-part .logo {
    display: inline-block; }
.header.header4 .header-bottom-part {
  background-color: #0991de; }
.header.header4 .main-menu li a {
  color: #fff; }
  .header.header4 .main-menu li a:hover {
    color: #fff; }
.header.header4 .menu-site-btn li a {
  border-right: 1px solid #7dc1e8; }

.header-middle-part {
  background-color: #fff;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #eeeff1; }
  .header-middle-part.style2 {
    padding: 22px 0; }
  .header-middle-part .logo {
    float: left;
    display: block;
    padding: 10px 0; }
  .header-middle-part .add-place {
    float: right; }

.header-bottom-part {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); }

.menu-site-btn {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .menu-site-btn li {
    float: left; }
    .menu-site-btn li a {
      width: 60px;
      display: block;
      border-right: 1px solid #eeeff1;
      padding: 24px 0 26px 0px;
      text-align: center; }
    .menu-site-btn li :first-child a {
      border-left: 1px solid #eeeff1; }

.header-post-area .post-content .title {
  margin: 0; }

.footer .footer-top {
  background-color: #191b1f; }
  .footer .footer-top .post-item {
    background: transparent; }
  .footer .footer-top .widget {
    background-color: transparent; }
    .footer .footer-top .widget h2 {
      color: #fff;
      margin-top: 0; }
    .footer .footer-top .widget .footer-logo {
      display: block;
      margin-bottom: 20px; }
    .footer .footer-top .widget p {
      color: #a9a9ab; }
    .footer .footer-top .widget .siteinfo {
      margin: 0;
      padding: 0;
      overflow: hidden; }
      .footer .footer-top .widget .siteinfo li {
        overflow: hidden;
        padding: 3px 0;
        border-bottom: none; }
        .footer .footer-top .widget .siteinfo li .icon {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          color: #fff;
          float: left;
          margin-right: 10px;
          background-color: #009bff; }
        .footer .footer-top .widget .siteinfo li .desc {
          color: #a9a9ab;
          line-height: 35px; }
    .footer .footer-top .widget .small-post-item {
      border-bottom: none;
      padding: 5px 0; }
      .footer .footer-top .widget .small-post-item:first-child {
        padding-top: 0; }
      .footer .footer-top .widget .small-post-item .post-content .title a {
        color: #a9a9ab; }
      .footer .footer-top .widget .small-post-item .post-content .meta-post li span, .footer .footer-top .widget .small-post-item .post-content .meta-post li a {
        color: #767676; }
.footer .footer-bottom p {
  margin: 0;
  text-align: center;
  padding: 40px 0;
  background-color: #121316;
  color: #a9a9ab;
  line-height: 25px; }
  .footer .footer-bottom p .logo {
    color: #009bff; }
  .footer .footer-bottom p a {
    color: #fff; }
.footer.style2 .footer-content {
  text-align: center; }
  .footer.style2 .footer-content .footer-logo {
    margin-bottom: 10px;
    display: block; }
  .footer.style2 .footer-content p {
    color: #fff;
    max-width: 830px;
    display: block;
    margin: auto;
    line-height: 30px;
    margin-bottom: 20px; }
  .footer.style2 .footer-content .social-media-list {
    display: inline-block; }

.flicker-image {
  overflow: hidden; }
  .flicker-image a {
    width: 30%;
    float: left;
    margin: 2px; }

.categories-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .categories-list li {
    overflow: hidden;
    border: none !important;
    padding: 4px 0 !important; }
    .categories-list li:first-child {
      padding-top: 0; }
    .categories-list li a {
      color: #a9a9ab; }

.footer .footer-top.style3 {
  position: relative;
  background-image: url(../../assets/images/footer-bg.jpg);
  background-position: bottom;
  background-repeat-Y: no-repeat; }
  .footer .footer-top.style3 .ovarlay {
    background-color: rgba(255, 255, 255, 0.5); }
  .footer .footer-top.style3 .post-item {
    background-color: transparent; }
  .footer .footer-top.style3 .widget h2 {
    color: #ff141f; }
  .footer .footer-top.style3 .widget .siteinfo li .desc {
    color: #000; }
  .footer .footer-top.style3 .categories-list li a {
    color: #000; }
  .footer .footer-top.style3 .small-post-item .post-content .title a {
    color: #000; }

.base-color2 .ticker-title {
  background-color: #009bff; }
.base-color2 a:hover, .base-color2 a:focus, .base-color2 a:active, .base-color2 .news-ticker .news-date-update li i,
.base-color2 .main-menu li a:hover,
.base-color2 .meta-post li .rating i,
.base-color2 .header-post-area .post-content .cat {
  color: #009bff; }
.base-color2 .heading {
  border-top: 3px solid #009bff;
  border-right: 3px solid #009bff; }
.base-color2 .heading:after {
  border-color: #009bff transparent; }

.base-color3 .ticker-title, .base-color3 .search-form i, .base-color3 .accounts .bell {
  background-color: #4bc5dc; }
.base-color3 a:hover, .base-color3 a:focus, .base-color3 a:active, .base-color3 .news-ticker .news-date-update li i, .base-color3 .main-menu li a:hover, .base-color3 .meta-post li .rating i,
.base-color3 .subscription span,
.base-color3 .header-post-area .post-content .cat {
  color: #4bc5dc; }
.base-color3 .heading {
  border-top: 3px solid #4bc5dc;
  border-right: 3px solid #4bc5dc; }
.base-color3 .heading:after {
  border-color: #4bc5dc transparent; }

.base-color4 .ticker-title, .base-color4 .search-form i, .base-color4 .accounts .bell {
  background-color: #9600b4; }
.base-color4 a:hover, .base-color4 a:focus, .base-color4 a:active, .base-color4 .news-ticker .news-date-update li i, .base-color4 .main-menu li a:hover, .base-color4 .meta-post li .rating i,
.base-color4 .subscription span,
.base-color4 .header-post-area .post-content .cat {
  color: #9600b4; }
.base-color4 .heading {
  border-top: 3px solid #9600b4;
  border-right: 3px solid #9600b4;
  border-left: 1px solid #eeeff1; }
.base-color4 .heading:after {
  border-color: #9600b4 transparent; }
.base-color4 .widget-wrapper,
.base-color4 .news-box .news-box-wrapper {
  border-left: 1px solid #eeeff1;
  border-right: 1px solid #eeeff1;
  border-bottom: 1px solid #eeeff1; }

.base-color5 .ticker-title, .base-color5 .search-form i, .base-color5 .accounts .bell {
  background-color: #0991de; }
.base-color5 a:hover, .base-color5 a:focus, .base-color5 a:active, .base-color5 .news-ticker .news-date-update li i, .base-color5 .main-menu li a:hover, .base-color5 .meta-post li .rating i,
.base-color5 .subscription span,
.base-color5 .header-post-area .post-content .cat {
  color: #0991de; }
.base-color5 .heading {
  border-top: 3px solid #0991de;
  border-right: 3px solid #0991de;
  border-left: 1px solid #eeeff1; }
.base-color5 .heading:after {
  border-color: #0991de transparent; }
.base-color5 .widget-wrapper,
.base-color5 .news-box .news-box-wrapper {
  border-left: 1px solid #eeeff1;
  border-right: 1px solid #eeeff1;
  border-bottom: 1px solid #eeeff1; }

body.base-color4 {
  background-color: #eeeff1; }

.box-layout {
  max-width: 1230px;
  width: 100%;
  margin: auto;
  background-color: #fff; }
  .box-layout #content {
    background-color: #fff; }

.feature-slider .swiper-slide .feature-post-item .feature-post-thumb .feature-post-content {
  width: auto; }

.feature-post-section.style5 {
  padding: 0; }

.recent-video-widget > .inside {
  position: relative;
  min-height: 275px; }
  .recent-video-widget > .inside > .tab-content > .item > .video-player {
    position: relative; }

.video-player iframe {
  width: 100%; }

embed, iframe, object {
  max-width: 100%; }

.recent-video-widget > .inside > .navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 0;
  margin: 0;
  width: 260px;
  height: 100%;
  background-color: #e5e5e5;
  overflow-y: scroll; }

.recent-video-widget > .inside > .navigation > li {
  list-style: none;
  border-bottom: 1px solid #d8d8d8; }

.recent-video-widget > .inside > .navigation > li.active > a {
  background-color: #262626; }

.recent-video-widget > .inside > .navigation > li > a {
  display: block;
  padding: 10px 20px;
  position: relative; }

.recent-video-widget > .inside > .navigation > li.active > a > i {
  opacity: 1;
  color: #858484; }

.recent-video-widget > .inside > .navigation > li > a > i {
  position: absolute;
  display: block;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  font-size: 1.5em;
  transition: all 0.15s ease-in-out; }

.recent-video-widget > .inside > .navigation > li.active > a > .title {
  color: #fff; }

.recent-video-widget > .inside > .navigation > li > a > .title {
  font-size: 1.142em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out; }

.recent-video-widget > .inside > .navigation > li > a > .meta {
  margin-bottom: 0;
  transition: all 0.3s ease-in-out; }

.meta {
  display: block;
  color: #858484;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 10px; }

.menu-fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 999; }

.header5 .header-top-part {
  background-image: url(../../assets/images/homepage8/menuBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 26px 0; }
  .header5 .header-top-part .header-text {
    max-width: 532px; }
    .header5 .header-top-part .header-text span {
      font-family: "Cormorant Garamond", sans-serif;
      font-weight: 700;
      font-size: 48px;
      color: #fe3189; }

.header.header5 .header-bottom-part {
  position: relative;
  padding: 20px 0;
  background-color: #fff; }
  .header.header5 .header-bottom-part .logo {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 75px;
    padding: 20px; }
  .header.header5 .header-bottom-part .social-media-list {
    border-left: 1px solid #eeeff1;
    border-right: 1px solid #eeeff1;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 75px;
    padding: 29px 10px; }
  .header.header5 .header-bottom-part .search-form {
    max-width: 43.33%;
    width: 100%;
    margin: auto; }
    @media (max-width: 1200px) {
      .header.header5 .header-bottom-part .search-form {
        margin: 0 25px 0 0;
        float: right; } }
    .header.header5 .header-bottom-part .search-form i {
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      line-height: 44px;
      color: #fff;
      z-index: 1;
      background-color: #ff141f; }
  .header.header5 .header-bottom-part .do-mail {
    position: absolute;
    top: 50%;
    right: 0;
    color: #eeeff1;
    font-size: 22px;
    color: #272727;
    -webkit-transform: translate(-130%, -50%);
    -moz-transform: translate(-130%, -50%);
    -ms-transform: translate(-130%, -50%);
    -o-transform: translate(-130%, -50%);
    transform: translate(-130%, -50%); }
    @media (max-width: 1200px) {
      .header.header5 .header-bottom-part .do-mail {
        display: none; } }

@media (max-width: 1200px) {
  .social-media-list.style2 {
    display: none; } }
.social-media-list.style2 li {
  margin: 0px 9px; }
  .social-media-list.style2 li a {
    height: auto;
    width: auto;
    border-radius: 0;
    line-height: 0;
    color: #272727;
    background-color: #ffffff !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .social-media-list.style2 li a:hover {
      color: #dc472e; }

.header.header1 .header-middle-part .logo {
  float: left;
  display: block; }
.header.header1 .header-middle-part .menu-area {
  float: right; }
  .header.header1 .header-middle-part .menu-area .main-menu li {
    text-align: center; }
    .header.header1 .header-middle-part .menu-area .main-menu li a {
      padding: 18px 20px; }
    .header.header1 .header-middle-part .menu-area .main-menu li .menu-img {
      overflow: hidden;
      width: 32px;
      margin: auto;
      padding-bottom: 10px; }
  .header.header1 .header-middle-part .menu-area .main-menu span {
    display: block; }
.header.header1 .header-middle-part.style2 .menu-area .main-menu li a {
  padding: 10px 20px; }
.header.header1 .header-bottom-part {
  padding: 0;
  background-color: #fff; }
  .header.header1 .header-bottom-part .ticker-swipe {
    background-color: #fff; }

.feature-post-section.style4 {
  padding: 0; }
.feature-post-section.style5 {
  padding: 0;
  background: none; }
  .feature-post-section.style5 .feature-post-content {
    background-color: #fff;
    max-width: 490px; }
    .feature-post-section.style5 .feature-post-content .meta-post li a {
      color: #696969; }
    .feature-post-section.style5 .feature-post-content p {
      margin: 20px 0 0 0; }
  .feature-post-section.style5 .feature-post-item .feature-post-thumb .feature-post-content {
    padding: 25px;
    bottom: 0; }
    .feature-post-section.style5 .feature-post-item .feature-post-thumb .feature-post-content .title {
      color: #000;
      margin: 0 0 10px 0; }
  .feature-post-section.style5 .feature-post-item .feature-post-thumb .feature-post-content .meta-post li span, .feature-post-section.style5 .feature-post-item .feature-post-thumb .feature-post-content .meta-post li a {
    color: #696969; }
.feature-post-section.style7 .feature-post-content {
  max-width: 500px;
  -webkit-transform: translate(5%, -25%);
  -moz-transform: translate(5%, -25%);
  -ms-transform: translate(5%, -25%);
  -o-transform: translate(5%, -25%);
  transform: translate(5%, -25%); }
  .feature-post-section.style7 .feature-post-content .title {
    font-size: 36px; }
  .feature-post-section.style7 .feature-post-content p {
    color: #fff;
    margin-top: 25px;
    max-width: 400px; }
.feature-post-section.style8 {
  background-color: transparent;
  padding: 0px; }
  .feature-post-section.style8 .feature-post-item .feature-post-thumb .feature-post-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1; }

.score-board {
  font-family: "Muli", sans-serif;
  text-align: center; }
  .score-board span {
    display: inline-block;
    vertical-align: top;
    float: left; }
    .score-board span.team {
      width: 33.33%; }
    .score-board span.team-name {
      line-height: 38px;
      font-weight: 700;
      width: 35px; }
    .score-board span.score-update {
      width: 33.33%; }
      .score-board span.score-update .score-update-inner {
        background-color: #ff6600;
        color: #fff;
        height: 25px;
        width: 50px;
        margin: 8px 0 0 17px; }
    .score-board span.team-img {
      overflow: hidden;
      height: 40px;
      width: 40px;
      border: 1px solid #eeeff1; }
      .score-board span.team-img.team-img-left {
        margin-left: 10px; }
      .score-board span.team-img.team-img-right {
        margin-right: 10px; }

.top-categories {
  font-family: "Muli", sans-serif; }
  .top-categories span {
    display: inline-block; }
  .top-categories a {
    display: block;
    overflow: hidden;
    color: #000; }
    .top-categories a:hover {
      color: inherit; }
  .top-categories .category-type {
    float: left; }
    .top-categories .category-type .category-title {
      vertical-align: top;
      line-height: 2; }
    .top-categories .category-type .category-img {
      overflow: hidden;
      width: 32px;
      margin-right: 10px; }
  .top-categories .category-count {
    float: right; }

.widget.style2 > ul > li {
  padding: 15px 17px;
  border-bottom: none;
  overflow: hidden; }

.author-info {
  text-align: center;
  background-color: #fff;
  padding: 35px 30px; }
  .author-info h2 {
    color: #ff141f; }
  .author-info .social-media-list {
    margin-top: 30px; }

.client-logo {
  text-align: center;
  margin-top: 20px;
  padding: 21px 15px;
  background-color: #fff; }
  .client-logo .client-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1; }

.news-box.travel .news-box-wrapper {
  padding: 25px 0; }
.news-box.travel .post-item.horizontal-style {
  border: none;
  border-bottom: 1px solid #eeeff1;
  margin: 0;
  padding: 30px; }
  .news-box.travel .post-item.horizontal-style:first-child {
    padding-top: 0px; }
  .news-box.travel .post-item.horizontal-style:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .news-box.travel .post-item.horizontal-style .post-thumb {
    width: auto;
    height: auto;
    float: left;
    margin-right: 20px; }

.feature-post-section {
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 20px; }
  .feature-post-section.style2 {
    padding: 0;
    background-color: transparent; }
    .feature-post-section.style2 .feature-post-item .feature-post-content .title {
      margin-top: 0;
      margin-bottom: 4px; }
  .feature-post-section.style3 .feature-post-content h4.title {
    margin-bottom: 0; }

.feature-post-item {
  overflow: hidden;
  padding: 1px;
  width: 100%; }
  .feature-post-item:hover .feature-post-thumb img {
    transform: scale(1.1) rotate(-2deg); }
  .feature-post-item .feature-post-thumb {
    position: relative;
    overflow: hidden; }
    .feature-post-item .feature-post-thumb img {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 100%; }
    .feature-post-item .feature-post-thumb .feature-post-content {
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      padding: 20px; }
      .feature-post-item .feature-post-thumb .feature-post-content .title {
        color: #fff; }
      .feature-post-item .feature-post-thumb .feature-post-content .meta-post {
        margin: 0;
        list-style-type: none;
        overflow: hidden; }
        .feature-post-item .feature-post-thumb .feature-post-content .meta-post li {
          color: #fff;
          float: left; }
          .feature-post-item .feature-post-thumb .feature-post-content .meta-post li span, .feature-post-item .feature-post-thumb .feature-post-content .meta-post li a {
            color: #fff; }

.meta-post {
  margin-bottom: 10px;
  margin-left: 0;
  list-style-type: none;
  overflow: hidden;
  padding: 0; }
  .meta-post li {
    color: #696969;
    float: left;
    margin-right: 10px; }
    .meta-post li span, .meta-post li a {
      color: #696969; }
    .meta-post li .rating i {
      color: #ff141f; }

.post-item {
  background-color: #fff; }
  .post-item:hover .post-thumb img {
    transform: scale(1.1) rotate(-2deg); }
  .post-item .post-thumb {
    position: relative;
    overflow: hidden; }
    .post-item .post-thumb img {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .post-item .post-thumb > a > img {
      width: 100%; }
    .post-item .post-thumb .post-content {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      padding: 30px;
      z-index: 1; }
    .post-item .post-thumb .video-link {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #fff;
      background-color: #ff141f; }
  .post-item .post-content .title {
    margin-bottom: 5px; }
  .post-item .post-content .meta-post {
    margin-bottom: 10px; }

.post-item.small-post-item {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #eeeff1; }
  .post-item.small-post-item:last-child {
    border-bottom: none; }
  .post-item.small-post-item .post-thumb {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    overflow: hidden; }
  .post-item.small-post-item .post-content {
    display: table; }
    .post-item.small-post-item .post-content .title {
      margin-bottom: 3px;
      margin-top: 0; }
    .post-item.small-post-item .post-content .meta-post {
      margin: 0;
      padding: 0;
      list-style-type: none; }
  .post-item.small-post-item.small-thumb-style2 .post-thumb {
    width: 100px; }

.small-post-list .post-item:first-child {
  padding-top: 0; }
.small-post-list .post-item:last-child {
  padding-bottom: 0;
  border-bottom: none; }

.post-item.horizontal-style {
  border: 1px solid #eeeff1;
  overflow: hidden;
  margin: 10px 0; }
  .post-item.horizontal-style:first-child {
    margin-top: 0; }
  .post-item.horizontal-style:last-child {
    margin-bottom: 0; }
  .post-item.horizontal-style .post-thumb {
    width: 240px;
    height: 200px;
    float: left;
    margin-right: 20px; }
  .post-item.horizontal-style .post-content {
    display: table;
    padding-right: 5px; }
    .post-item.horizontal-style .post-content p {
      margin-bottom: 0; }

.heading {
  border-top: 3px solid #ff141f;
  border-right: 3px solid #ff141f;
  position: relative;
  overflow: hidden;
  padding: 10px 18px;
  border-bottom: 1px solid #eeeff1;
  background-color: #fff; }
  .heading:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 7px 7px;
    border-color: #ff141f transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 50%;
    right: -4px;
    transform: rotate(-90deg);
    margin-top: -4px; }
  .heading h3 {
    float: left;
    margin: 0; }
  .heading .see-all {
    float: right;
    margin-left: 10px;
    padding-top: 2px; }
  .heading .news-cat-filter {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    .heading .news-cat-filter li {
      float: left; }
      .heading .news-cat-filter li a {
        padding: 2px 5px;
        display: block; }

.weather img {
  margin-right: 10px; }
.weather span {
  color: #333; }

.search-form {
  position: relative; }
  .search-form input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    border: 1px solid #eeeff1; }
  .search-form i {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #fff;
    z-index: 1;
    background-color: #ff141f; }

.subscription span {
  float: left;
  margin-right: 7px;
  color: #ff141f;
  font-size: 48px;
  line-height: 1.1; }
.subscription .subscription-content {
  display: table; }
  .subscription .subscription-content a {
    display: block;
    color: #000; }

.accounts {
  overflow: hidden; }
  .accounts .bell {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff141f;
    color: #fff;
    line-height: 1.8;
    text-align: center;
    display: block;
    margin-right: 10px;
    transform: translateY(5px);
    font-size: 14px; }
    .accounts .bell:hover {
      color: #fff; }
  .accounts .account-img {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #ccc;
    display: block; }

.author-subscription {
  overflow: hidden; }
  .author-subscription .subscription {
    float: left;
    margin-right: 25px; }
  .author-subscription .accounts {
    float: left;
    margin-top: 10px; }

.news-ticker {
  overflow: hidden; }
  .news-ticker .news-date-update {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none; }
    .news-ticker .news-date-update li {
      float: left;
      margin-right: 10px;
      margin-top: 18px; }
      .news-ticker .news-date-update li:last-child {
        margin-right: 0; }
      .news-ticker .news-date-update li i {
        color: #ff141f;
        margin-right: 2px; }
      .news-ticker .news-date-update li span {
        color: heading-color; }

.breking-news-ticker {
  overflow: hidden;
  padding: 10px 0;
  width: 75%;
  float: left; }
  .breking-news-ticker .info {
    float: left;
    padding: 5px 10px;
    background-color: #ff141f;
    color: #fff;
    margin-right: 10px;
    font-family: "Muli", sans-serif; }
  .breking-news-ticker .newsticker {
    height: 30px;
    list-style-type: none;
    overflow: hidden;
    margin: 0; }
    .breking-news-ticker .newsticker li {
      line-height: 2.5; }

#content {
  background-color: #eeeff1; }

.news-box {
  background-color: #fff;
  margin-bottom: 15px; }
  .news-box .news-box-wrapper {
    padding: 18px; }
  .news-box.default {
    background-color: transparent; }
    .news-box.default .news-box-wrapper {
      padding: 0; }
      .news-box.default .news-box-wrapper .post-item {
        background-color: #fff;
        margin-bottom: 15px; }
        .news-box.default .news-box-wrapper .post-item .post-content {
          padding: 0 15px 10px 15px; }
          .news-box.default .news-box-wrapper .post-item .post-content p {
            margin-bottom: 10px; }

.political .col-md-6:last-child .post-item {
  border-bottom: none; }
.political .col-md-6:nth-last-of-type(2) .post-item {
  border-bottom: none; }

.guest-author .news-box-wrapper {
  padding: 0px;
  padding-top: 10px; }

.author-item {
  padding: 10px;
  border-bottom: 1px solid #eeeff1; }
  .author-item:last-child {
    border-bottom: none; }
  .author-item:first-child {
    padding-top: 0px; }
  .author-item .author-thumb {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
    overflow: hidden;
    margin-right: 8px; }
  .author-item .author-content {
    display: table; }
    .author-item .author-content .name {
      font-size: 19px;
      margin-top: 0;
      margin-bottom: 4px; }
      .author-item .author-content .name a {
        color: inherit; }
    .author-item .author-content .desig {
      color: #696969;
      margin-bottom: 0;
      font-size: 12px; }
    .author-item .author-content .view-all-post {
      color: #696969;
      font-size: 12px; }

.x2 .author-thumb {
  width: 80px !important;
  height: 80px !important; }

.dont-miss .post-item {
  padding: 20px 0;
  border-bottom: 1px solid #eeeff1; }
  .dont-miss .post-item:last-child {
    padding-bottom: 0;
    border-bottom: none; }
  .dont-miss .post-item:first-child {
    padding-top: 0px; }
.dont-miss .post-content .title {
  font-size: 16px;
  margin-top: 10px; }
.dont-miss .post-content .meta-post {
  margin-bottom: 0; }
  .dont-miss .post-content .meta-post li {
    font-size: 13px; }
    .dont-miss .post-content .meta-post li a {
      font-size: inherit; }

.padding-height-160 {
  height: 160px; }

.padding-height-80 {
  height: 80px; }

.social-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .social-media-list li {
    display: inline-block;
    margin: 5px 7px; }
    .social-media-list li a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 50px;
      color: #fff;
      display: block;
      text-align: center;
      font-size: 17px; }
      .social-media-list li a:hover {
        color: #fff; }
      .social-media-list li a.facebook {
        background-color: #3a559f; }
      .social-media-list li a.twitter {
        background-color: #50abf1; }
      .social-media-list li a.gplus {
        background-color: #dc472e; }
      .social-media-list li a.dribbble {
        background-color: #e74886; }
      .social-media-list li a.rss {
        background-color: #f78422; }
      .social-media-list li a.pinterest {
        background-color: #c9353d; }

.widget.instagram li {
  padding: 0;
  float: left;
  border-bottom: none;
  width: 33.33%; }
  .widget.instagram li:first-child {
    width: 100%; }
  .widget.instagram li a {
    padding: 5px;
    display: block; }
.widget.instagram .widget-wrapper {
  padding: 15px; }

.ovarlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.custom-btn {
  padding: 7px 19px;
  text-transform: uppercase;
  border: 1px solid #ebebeb;
  display: inline-block;
  margin-top: 20px;
  font-weight: 700;
  font-family: "Cormorant Garamond", sans-serif; }

.gradient-ovarlay {
  position: relative; }
  .gradient-ovarlay > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.75;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, #000000 100%);
    transition: opacity 0.35s ease-in-out; }

button.mobile-toggle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 3%;
  width: 33px;
  border: none;
  height: auto;
  background-color: transparent;
  outline: none; }
  button.mobile-toggle .bar-stick {
    height: 3px;
    width: 100%;
    background: #000;
    display: block;
    margin: 2px 0; }

.mobile-menu-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #180e0e;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .mobile-menu-area .mobile-menu {
    position: absolute;
    width: 100%;
    top: 50px;
    text-align: center;
    opacity: 0;
    list-style: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    overflow-y: auto;
    max-height: 100vh;
    list-style: none; }
    .mobile-menu-area .mobile-menu .mobile-submenu {
      display: none; }

.open-mobile-menu .mobile-menu-area {
  visibility: visible;
  opacity: 1;
  width: 300px;
  border-top: 2px solid #fff;
  height: 600px;
  overflow-y: auto;
  background: #180e0e;
  display: inline-block; }
  .open-mobile-menu .mobile-menu-area .close {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    opacity: 1;
    margin: 25px 20px; }
    .open-mobile-menu .mobile-menu-area .close span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background: #fff;
      top: 50%;
      margin-top: -1px; }
      .open-mobile-menu .mobile-menu-area .close span:first-child {
        transform: rotate(-45deg); }
      .open-mobile-menu .mobile-menu-area .close span:last-child {
        transform: rotate(45deg); }
  .open-mobile-menu .mobile-menu-area .mobile-menu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0;
    text-align: center;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
    max-height: 100vh; }
    .open-mobile-menu .mobile-menu-area .mobile-menu > li > a {
      font-size: 16px;
      line-height: 38px;
      color: #ffffff;
      outline: none;
      text-transform: uppercase;
      padding: 10px 0px;
      display: block;
      border-bottom: 1px solid #212020; }
    .open-mobile-menu .mobile-menu-area .mobile-menu > li .mobile-submenu {
      list-style: none;
      margin: 0;
      display: none; }

.widget {
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #fff; }
  .widget .widget-heading {
    padding: 10px 17px; }
  .widget .widget-wrapper {
    padding-top: 15px; }
  .widget > ul {
    overflow: hidden;
    margin: 0;
    list-style-type: none; }
    .widget > ul > li {
      padding: 15px 17px;
      border-bottom: 1px solid #eeeff1;
      overflow: hidden; }
      .widget > ul > li:last-child {
        border-bottom: none; }
      .widget > ul > li:first-child {
        padding-top: 0; }
  .widget .social-share {
    margin: 0;
    list-style-type: none;
    padding-left: 17px;
    padding-right: 17px; }
    .widget .social-share li {
      width: 25%;
      text-align: center;
      margin-bottom: 10px;
      float: left;
      padding: 0;
      border-bottom: none; }
      .widget .social-share li .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        display: block;
        margin: auto;
        color: #fff; }
        .widget .social-share li .icon.facebook {
          background-color: #3a559f; }
        .widget .social-share li .icon.twitter {
          background-color: #50abf1; }
        .widget .social-share li .icon.gplus {
          background-color: #dc472e; }
        .widget .social-share li .icon.dribbble {
          background-color: #e74886; }
        .widget .social-share li .icon.rss {
          background-color: #f78422; }
        .widget .social-share li .icon.pinterest {
          background-color: #c9353d; }
        .widget .social-share li .icon.behence {
          background-color: #0090ff; }
        .widget .social-share li .icon.instagram {
          background-color: #517fa4; }
      .widget .social-share li .number {
        color: #000;
        font-weight: 700;
        display: block; }
      .widget .social-share li .desc {
        font-size: 12px;
        color: #696969;
        display: block; }
    .widget .social-share.style2 li .icon {
      border-radius: 0; }
  .widget .post-content .title {
    margin-bottom: 5px;
    margin-top: 10px; }
  .widget .post-content .meta-post {
    padding: 0;
    margin-bottom: 0; }
  .widget .small-post-item {
    padding: 10px 17px; }

/*# sourceMappingURL=style.css.map */
