/* Ticker Styling */
.newsticker-section {
	margin: 20px 0 ;
}
.ticker-wrapper.has-js {
	height: 32px;
	display: block;
}
.ticker {
	width: 1060px;
	display: block;
	position: relative;
	overflow: hidden;
}
.ticker-title {
    /* padding-top: 9px; */
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    padding: 10px 15px;
    background-color: #ff141f;
}
.ticker-content {
    margin: 0px;
    padding-top: 12px;
    position: absolute;
    color: #444444;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2em;
    left: 138px !important;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: #444444;
	-webkit-transition: .2s;
	transition: .2s;
}
.ticker-content a:hover {
	text-decoration: none;	
	color: #eb0254;
}
.ticker-swipe {
	padding-top: 12px;
	position: absolute;
	top: 0px;
	background-color: #f0f1f2;
	display: block;
	width: 100%;
	height: 30px;
	left: 134px !important; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: #444444;
	border-bottom: 1px solid #333333;
	height: 15px;
	width: 3px;
	display: block;
}

.ticker-controls {
	display: none;
}
/*.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	display: block;
	position: relative;
	width: 20px;
	height: 20px;	
}
.ticker-controls li:before {
	width: 20px;
	height: 20px;
	background: #fff;
	color: #000;
	text-align: center;
}
.ticker-controls li a {
	display: none !important;
}
.ticker-controls li.jnt-play-pause:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f04c";
    color: #000;
    background: #fff;
    font-size: 11px;
    line-height: 23px;
    padding-left: 2px;
}*/
/* .ticker-controls li.jnt-play-pause {
	background: #000;

} */

/*.ticker-controls li.jnt-play-pause.paused:before {
	background: #000;
	color: #fff;
	content: "\f04b"
}

.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev:before {
    content: "\f053";
    font-family: FontAwesome;
    width: 20px;
    height: 20px;
    display: block;
    font-size: 13px;
    line-height: 23px;
}
.ticker-controls li:hover:before {
	color :#fff !important;
	background: #000 !important;
}

.ticker-controls li.jnt-next:before {
    content: "\f054";
    font-family: FontAwesome;
    width: 20px;
    height: 20px;
    display: block;
    font-size: 13px;
    line-height: 23px;
    padding-left: 2px;
}*/


.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
	float: right;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}